.background {
    background-image: url('https://nkenon89.github.io/StumpfBalloons/assets/images/little_pluses.png');
}

.globalFont {
    font-family:'M PLUS Rounded 1c', sans-serif;
}

.bg-Custom {
    background-color: black;
}

.largeFont {
    font-size: 18px;
}

.carousel-item {
    height: 500px;
  }

#searchBox {
    width: 300px;
}